@charset "UTF-8";

body {
    color: darkslategrey;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    background-color: #1C1C1C;
}

.titulo {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 30px;
    margin-bottom: 0px;
    font-weight: bolder;
}
.p1 {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 119px;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 0px;
    margin-top: 0px;
}

.p2 {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 600px;
    margin-top: 0;
}

h3 {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin-left: 200px;
    
}

ol {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin-left: 200px;

}

.imagens {
    max-width: 350px;
    max-height: 350px;
    width: auto;
    height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.logo{
    text-align: center;
}